.footer__text1 {
    font-family: 'Be Vietnam Pro';
}
.footer__text2 {
    font-family: 'Be Vietnam Pro';
}
.footer__text3 {
    font-family: 'Be Vietnam Pro';
}
.footer__text4 {
    font-family: 'Be Vietnam Pro';
}
.footer__text5 {
    font-family: 'Be Vietnam Pro';
}
.footer__text6 {
    font-family: 'Be Vietnam Pro';
}
.footer__text7 {
    font-family: 'Be Vietnam Pro';
}
.footer__text8 {
    font-family: 'Be Vietnam Pro';
}
.footer__text9 {
    font-family: 'Be Vietnam Pro';
}
.footer__text10 {
    font-family: 'Be Vietnam Pro';
}
.footer__text11 {
    font-family: 'Be Vietnam Pro';
}
